<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="home"> 
 <%- include('header.ejs') %>
    <div class="category-container">
      <div class="category-navbar">
        <%=collection%> 
     
         <a href="/items/create" class="category-nav-img"><img src="/images/add.png" class="category-nav-img"></a>
        

        <a href="/updateCategory?collection=<%=collection%>" class="category-nav-img">
        <img src="/images/edit-text.png" class="category-nav-img">
        </a>
        
        
        <form method="post" action="/deleteCategory?collection=<%=collection%>" class="category-nav-img">
           <button type="submit" class="category-nav-img"> <img src="/images/trash (1).png" class="category-nav-img"> </button>
        </form>
       
      </div>
      
      <div class="item-categories">
    <% categoryData.forEach((obj) => { %>
<a class="item" href="/item/<%=collection %>/<%= obj._id %>">
  
    <% if (obj.image) { %>
      
      <img src="/uploads/<%= obj.image %>" class="item-img">
    <% } else { %>
     <img src="/images/default.png" class="item-img">
    <% } %>

    
    <div class="item-info"> 
    <p class="item-name"><%=obj.name%></p>
     <p class="item-price"><img src="/images/BE_icon.webp" class="BE-icon"><%=obj.price%></p>
      <p class="item-stock">Only <%=obj.stock%> left in stock</p>
     
     
    
  </div>
  </a>
<% }) %>
      </div>
    </div>


  </div>
  


  </body>
</html>