<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

   <h1>EDIT ITEM FROM</h1>
     <form method="post" action="/update?collection=<%=data[0].category%>&id=<%=data[0]._id %>">
    <label for="itemName">Item Name</label>
    <input type="text" name="itemName" value="<%=data[0].name%>">
     <label for="itemDescription">Item Description</label>
    <input type="text" name="itemDescription" value="<%=data[0].description%>">
     <label for = "categoryNames"></label>
 <select>
    <% collectionList.forEach((obj) => { %>
        <% if (obj.name === data[0].category) { %>
            <option value="<%= obj.name %>" selected><%= obj.name %></option>
        <% } else { %>
            <option value="<%= obj.name %>"><%= obj.name %></option>
        <% } %>
    <% }) %>
</select>




    
      <label for = "image">Upload Image</label>
     <input type="file" name="image" value="<%=data[0].image%>">
     <label for="price">Price</label>
     <input type="number" name="price" value="<%=data[0].price%>">
     <label for="stock">Stock</label>
      <input type="number" name="stock" value="<%=data[0].stock%>">
      <button type="submit">Submit</button>
 </form>
   
  </body>
 <script>

 </script>

</html>