<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class="home">
  
   <%- include('header.ejs') %>
<div class="individual-item-container">   
  <div class="item-pic-container"> <img src="/uploads/<%=categoryData.image%>" class="item-pic"> </div>
  <div class="item-details">
    <div class="item-details-title"> 
    <p><%=categoryData.name%></p>
    
    <a href="/updateItem/<%=collection%>/<%=id %>" class="item-details-img"><img src="/images/edit.png" class="item-details-img"></a>
   
     
 
   <form action="/deleteItem?collection=<%=collection%>&id=<%=id%>" method="post">
  <button class="item-details-button" type="submit" ><img src="/images/recycle-bin.png" class="item-details-img"></button>
</form>


</div>
<hr>
<p class="item-detail-style"><%=categoryData.description%></p>
<p class="item-detail-style"><%=categoryData.category%></p>
<p class="item-detail-style"><%=categoryData.price%></p>
<p class="item-detail-style">Number in stock: <%=categoryData.stock%></p>
  </div>
   
</div>
  
      </div>
   
  </body>
 <script>

 </script>

</html>

 <h1><%=  categoryData.name     %></h1>
    <a href="/updateItem/<%=collection%>/<%=id %>"><button>EDIT BUTTON</button></a>
   
     
 
   <form action="/deleteItem?collection=<%=collection%>&id=<%=id%>" method="post">
  <button class="test" type="submit" >TRASH</button>
</form>